
*{
    padding: 0;
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration: none;
}
ul{
    list-style: none;
}

/* 导航栏 */
.navbar{
    background: rgba(248, 248, 248, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.navbar-brand{
    font-size: 20px;
}
.navbar-default .navbar-nav>.active>a{
    background:none;
    color: #333333;
    font-weight: 800;
}
.navbar-default .navbar-nav li:hover a{
    background:#e7e7e7;
    color: #555555;
}

/* banner */
.banner{
    padding-top: 50px;
}
.banner img{
    width: 100%;
    margin: 0 auto;
}

/* 作品展示 */
.body{
    padding: 50px 0 100px 0;
    background: #F4F4F4;
    margin: 0 auto;
}
.food{
    margin: 0 auto;
    width: 80%;
    position: relative;
    column-count: 1;
    column-gap: 10px;
}
.food-body{
    display: inline-block;
    margin: 0 5px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}
.food-body:hover {
    transform: scale(1.1);
  }
.food-body-img img{
    border-radius: 8px 8px 0 0;
    width: 100%;
}
.food-body-content{
    padding: 20px 20px 10px 20px;
}
.food-body-title{
    border-top: 1px solid #e7e7e7;
    padding: 8px 0;
    text-align: center;
}
.food-body-title h4{
    font-size: 16px;
}

/* 底栏 */
.footer{
    background: #5300c8;
}
.footerbar{
    padding: 30px 0 20px 0;
    text-align: center;
}
.footerbar-header{
    color: #cdcdcd;
    font-size: 16px;
}
.footerbar-body{
    padding-top: 10px;
}
.footerbar-body span{
    display: block;
    font-size: 14px;
    padding-bottom: 20px;
}
.footerbar-body span a{
    color: #b6b6b3;
    font-weight: 100;
}
.footerbar-body span a:hover{
    color: #cdcdcd;
}
.footerbar-footer{
    color:#b6b6b3;
    font-size: 12px;
}
@media (min-width: 768px){
    .food{
        column-count: 2;
    }
    .footerbar-body{
        padding: 10px 0 20px 0;
    }
    .footerbar-body span{
        display: inline;
        padding: 0 30px;
    }
}
@media (min-width: 992px){
    .food{
        column-count: 3;
    }
    .footerbar-body{
        padding: 10px 0 20px 0;
    }
    .footerbar-body span{
        display: inline;
        padding: 0 30px;
    }
}
@media (min-width: 1200px){
    .food{
        column-count: 3;
    }
    .footerbar-body span{
        display: inline;
        padding: 0 30px;
    }
    .footerbar-body{
        padding: 10px 0 20px 0;
    }
}
